*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-img{
    width:65%;
    height: 90vh;
    background-image: url('../img/login.png');
    background-size: cover;
    background-position: center;
}
.right-side{
    background-color: #F2F0ED;
    height: 100vh;
}
.form{
    margin: 13% auto;
}
.orange-color {
    color: #D48311;
}
.p-color{
    color: #B5AB9C;
}
.button-color {
    background-color: #D48311;
    color: white;
}
.font{
    font-family: "Playfair Display", serif;
}
button{
    border: 2px solid white !important;
    transition: 0.3s;
}
button:hover{
    border-color:  #D48311 !important;
    background-color: white !important;
    color: #D48311 !important;
}

/* Small devices */
@media screen and (max-width: 575px) {
    .width { width: 90%; }
    .form { width: 90%; }
}

/* Medium devices  */
@media screen and (min-width: 576px) and (max-width: 991px) {
    .width { width: 60%; }
    .form { width: 65%; }
}

/* Large devices */
@media screen and (min-width: 992px) {
    .width { width: 30%; }
    .form { width: 75%; }
}